parameters:
  level: max            
  paths:
    - admin/
    - api/src/
  excludePaths:
    - admin/reporte/fpdf/*  
    - admin/reporte/fpdf/tutorial/* 
    - admin/reporte/generar_excel.php
    - admin/reporte/generar_pdf.php
